[package]
name = "parking_lot_core"
version = "0.2.4"
authors = ["Amanieu d'Antras <amanieu@gmail.com>"]
description = "An advanced API for creating custom synchronization primitives."
documentation = "https://amanieu.github.io/parking_lot/parking_lot_core/index.html"
license = "Apache-2.0/MIT"
repository = "https://github.com/Amanieu/parking_lot"
keywords = ["mutex", "condvar", "rwlock", "once", "thread"]

[dependencies]
smallvec = "0.4"
rand = "0.3"
petgraph = { version = "0.4.5", optional = true }
thread-id = { version = "3.2.0", optional = true }
backtrace = { version = "0.3.2", optional = true }

[target.'cfg(unix)'.dependencies]
libc = "0.2.15"

[target.'cfg(windows)'.dependencies]
winapi = "0.2"
kernel32-sys = "0.2"

[features]
nightly = []
deadlock_detection = ["petgraph", "thread-id", "backtrace"]
