[package]
name = "parking_lot_core"
version = "0.9.11"
authors = ["Amanieu d'Antras <amanieu@gmail.com>"]
description = "An advanced API for creating custom synchronization primitives."
license = "MIT OR Apache-2.0"
repository = "https://github.com/Amanieu/parking_lot"
keywords = ["mutex", "condvar", "rwlock", "once", "thread"]
categories = ["concurrency"]
edition = "2021"
rust-version = "1.64.0"

[package.metadata.docs.rs]
rustdoc-args = ["--generate-link-to-definition"]

[dependencies]
cfg-if = "1.0.0"
smallvec = "1.6.1"
petgraph = { version = "0.6.0", optional = true }
thread-id = { version = "4.0.0", optional = true }
backtrace = { version = "0.3.60", optional = true }

[target.'cfg(unix)'.dependencies]
libc = "0.2.95"

[target.'cfg(target_os = "redox")'.dependencies]
redox_syscall = "0.5"

[target.'cfg(windows)'.dependencies]
windows-targets = "0.52.0"

[features]
nightly = []
deadlock_detection = ["petgraph", "thread-id", "backtrace"]
